/**
 *  Main Less style sheet used for App
 *
 * TODO: separate into smaller partials if this file becomes large; or create Vue components (e.g. for c-input)
 */

@import "base/_constants";
@import "base/_resets";


// ==================================================
// utilities:
// ==================================================

.cursor-pointer {
    cursor: pointer;
}

.text-muted {
    color: @font-color-muted;
}

.text-bold {
    color: @font-color-bold;
}
